.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
body {
  padding-top: 65px;
}
.write_review{
    display: none;
    padding-top: 65px;
}

.card{
  margin-top: 50px;
  margin-bottom: 10px;
  /* display: none; */
/* border:none; */
  
}
.trama{
border:none;
  
}
.likeB {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  padding:0;
  cursor: pointer;
}

i{
  cursor: pointer;
}

 .voto_medio .stars {
  letter-spacing: 3px;
  font-size: 32px;
  color: #F5A624;
  padding: 0 5px 0 10px;
}
.voto_medio .totale {
  color: #777777;
  font-size: 14px;
}

.voto_medio .num {
  font-size: 30px;
  font-weight: bold;
  color: #F5A624;
}
iframe{
  margin-bottom:20px;
}