.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
body {
  padding-top: 65px;
}
.write_review{
    display: none;
    padding-top: 65px;
}

.card{
  margin-top: 50px;
  margin-bottom: 10px;
  /* display: none; */
/* border:none; */
  
}
.trama{
border:none;
  
}
.likeB {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  padding:0;
  cursor: pointer;
}

i{
  cursor: pointer;
}

