*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: white;
  color: black;
}

.container{
  width: 96%;
  max-width: 1100px;
  margin: auto;
}

.main-nav{
  border-radius: 4px;
  align-items: center;
  font-weight: bold;
  height: 80px;
  font-size: 16px;
  padding: 20px 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;

}

.main-nav ul{
  display: flex;
}

.main-nav ul li{
  padding: 0 20px;
}

.main-nav ul li a{
  padding-bottom: 2px;
}

.main-nav ul li a:hover{
  border-bottom: 2px solid chocolate;
}

.showcase{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.showcase img{
  border: 3px solid black;
  border-radius: 10%;
  width: 250;
  height: 250;
}

.box{
  display: flex;
  margin-bottom: 40px;
  margin-top: 20px;
}
.box img{
  width: 150px;
  max-width: 150px;
  height: 200px;
  
}
.info-film{
  padding-left: 30px;
}

.c1{
  margin-right: 250px;
  margin-top: 28px;
}

.review{
  background-color: white;
  border: 3px solid white;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.utente{
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.utente1{
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}

.commento{
  display: flex;
  flex-direction: row;

}

.film{
  padding-top:10px;
  display: flex;
  flex-direction: row;

}

.logo{
  width: 110px;
  height: 90px;
}

.utente img{
  border: 1px solid black;
  border-radius: 35%;
  width: 60px;
  height: 60px;
}
.utente h1{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.utente p{
  padding-top: 1px;
  padding-left: 10px;
  font-size: 23px;
}

.nomeFilm{
  padding-left: 10px;
}

.film {
  display: flex;
  justify-content: end;
}

.like{
  display: flex;
  flex-direction: row;
}
.likeB {
  width: 30px;
  height: 30px;
}
.likeB img{
  width: 25px;
  height: 25px;
 
}

.nomeUtente{
  padding-top: 3px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  background: none;
}

