*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: white;
  color: black;
}

#showcase{
  margin-top: 150px;
  margin-bottom:30px;
  
}
.title{
  font-size: 30px;
}

.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.like{
  display: flex;
  flex-direction: row;
}
.likeB {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  padding:0;
  cursor: pointer;
}

i{
  cursor: pointer;
}
.recensione{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 10px;
  display: none;
  border-radius: 3px;
}

#load{
  margin-top: 30px;
  margin-bottom: 50px;
  display: none;
}

.bottoni{
  margin-top: 10px;
}
.noamici{
  display: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}