body {
  margin: 0px;
  padding: 0px;
  /* font-family: poppins; */
  /* background-color: rgba(151, 151, 151, 0.03); */
  background-color: #0F4C81 !important;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
.logo img {
  height: 150px;
}
nav .menu {
  display: flex;
}

nav .menu li a {
  height: 40;
  line-height: 43px;
  margin: 0px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #585858;
  letter-spacing: 1px;
}
nav .search-container {
  float: right;
}

nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 20px;
  background-color: rgba(204, 204, 204, 0.384);
}

nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
nav .search-container button:hover {
  background: #ccc;
}

nav .menu li a:hover{
    background-color: #242424; 
    color: #ffffff;
    box-shadow:5px 10px 30px rgba(53, 53, 53, 0.1);
    transition: all ease 0.2s;
}
#main{
  padding-top: 80px;
  background-color: #ffffff;
}

.showcase-box{
  width: 430px;
  height: 250px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 0px 20px 10px 20px;
  overflow:  hidden;
}

.showcase-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.showcase-heading{
  padding-left: 30px;
  font-weight:500 ;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #1a1a1a;
  
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}