/* sposta giu il contenuto per non fare overlap sulle sezioni */

body {
  padding-top: 65px;
}

.contenitoreFilm {
  display: flex;
  width: 100%;
  overflow-x: auto;
  /* font-family: poppins; */
  /* background-color: rgba(151, 151, 151, 0.03); */
  background-color: #0F4C81;
}

.movie {
  margin-bottom: 50px;
}

/* section {
  display: flex;
  width: 100%;
  overflow-x: auto;
} */

section {
  height: 520px;
  position: relative;
  width: 100%;
  /* margin-top: 25px; */
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  transition: 250ms all;
}

section img {
  width: 300px;
  transition: 500ms all;
}

img:hover {
  margin-left: 0.40px;
  transform: scale(1.1);
  cursor: pointer;
}

h2 {
  background-color: #97caEF;
  text-align: center;
  padding: 10px;
}

.content {
  border: 1px solid grey;
  padding: 20px;
  display: none;
}

.container {
  padding-top: 30px;
}


.trailers  {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* testo per la ricerca */

h3 {
  text-align: center;
}

/* copyright */


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}